<section>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input name="pessoaNome" type="email" class="form-control" id="exampleInputEmail1" placeholder="Nome" [(ngModel)]="pessoaNome">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Idade</label>
      <input  name="pessoaIdade" type="text" class="form-control" id="exampleInputPassword1" placeholder="Idade" [(ngModel)]="pessoaIdade">
    </div>
    <button type="submit" class="btn btn-default" (click)="cadastrarPessoa()">Submit</button>
    <div class="alert alert-danger" role="alert" *ngIf="validarNome()">O nome é obrigatório</div>
  </form>
</section>